@media screen and (max-width:575px){
	#menubar{
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		padding: 10px 3%;
		background-color: rgba(0,0,0,0.6);
		z-index: 5;
	}
}

@media screen and (min-width:576px) and (max-width:767px){
	#menubar{
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		padding: 10px 3%;
		background-color: rgba(0,0,0,0.6);
		z-index: 5;
	}
}

@media screen and (min-width:768px) and (max-width:991px){
	#menubar{
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		padding: 10px 10%;
		background-color: rgba(0,0,0,0.6);
		z-index: 5;
	}
}

@media screen and (min-width:992px) and (max-width:1199px){
	#menubar{
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		padding: 10px 10%;
		background-color: rgba(0,0,0,0.6);
		z-index: 5;
	}

	.services-border-right{
		border-right: 1px solid #dee2e6;
	}
	
	.services-separator {
		display: block;
		width: 100%;
		margin: 15px auto;
		height: 1px;
		background: #dfdfdf;
	}
}

@media screen and (min-width:1200px) and (max-width:1399px){
	#menubar{
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		padding: 10px 10%;
		background-color: rgba(0,0,0,0.6);
		z-index: 5;
	}

	.services-border-right{
		border-right: 1px solid #dee2e6;
	}
	
	.services-separator {
		display: block;
		width: 100%;
		margin: 15px auto;
		height: 1px;
		background: #dfdfdf;
	}
}

@media screen and (min-width:1400px){
	#menubar{
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		padding: 10px 16%;
		background-color: rgba(0,0,0,0.6);
		z-index: 5;
	}

	.services-border-right{
		border-right: 1px solid #dee2e6;
	}
	
	.services-separator {
		display: block;
		width: 100%;
		margin: 15px auto;
		height: 1px;
		background: #dfdfdf;
	}
	
}

body{
    width: auto;
    height: auto;
    font-family:'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 1px;
    color: #484848;
}

#home{
    width: auto;
    height: auto;
    background-image: url(../images/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#layer{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

#avatar{
    height: 100vh;
}

.avatar{
    width: 20vh;
    height: auto;
}

.text-nowrap{
	white-space: nowrap;
}

#typing1, #typing2{
	border-right: solid 3px rgba(134,134,134,0.75);
	white-space: nowrap;
	font-size: 15px;
    font-size: calc(1.1vw + 1.1vh + 0.5vmin);
	color: #bfbfbf;
	text-transform: uppercase;
	overflow: hidden;
	margin: 0 auto;
}

  /* Animation */
#typing1{
	animation: animated-text 5s steps(27,end) 1s infinite alternate, animated-cursor 600ms steps(27,end) infinite;
}

#typing2{
	animation: animated-text 5s steps(19,end) 5s infinite alternate, animated-cursor 600ms steps(19,end) infinite;
}

  /* text animation */
@keyframes animated-text{
	from{
		width: 0;
	}
	to{
		width: 70vw;
	}
}

  /* cursor animations */
@keyframes animated-cursor{
	from{border-right-color: rgba(134,134,134,0.75);}
	to{border-right-color: transparent;}
}

.scroll{
	box-sizing: border-box;
}

.home-s-btn {
	display: block;
	bottom: 50px;
	height: 40px;
	width: 26px;
	border: 2px solid #efefef;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}

.dot {
	display: block;
	height: 6px;
	width: 6px;
	background-color: #efefef;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: dot-animation 1.8s infinite ease-in-out;
	-moz-animation: dot-animation 1.8s infinite ease-in-out;
	animation: dot-animation 1.8s infinite ease-in-out;
}

@keyframes dot-animation {
	0% {
		top: -moz-calc(50% - 6px);
		top: calc(50% - 6px);
		opacity: 1;
		}
	40% {
		top: 50%;
		opacity: 0;
		}
	100% {
		top: -moz-calc(50% - 6px);
		top: calc(50% - 6px);
		opacity: 0;
		}
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.hor-center {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.section {
	background-color: #fff;
	padding: 100px 0;
}

.text-justify{
	text-align: justify;
}

.second-bg {
	background-color: #fafafa;
}

ul {
	list-style-type: none;
}

.social-list{
	font-size: 25px;
}

.social-list a:hover{
	color: #969696;
}

.bar{
	margin-top: 25px;
}

.s-line {
	margin: 10px auto;
	width: 55px;
	height: 1px;
	background-color: #333;
}

.single-service {
	padding: 10px;
	text-align: center;
}

.service-icon{
	font-size: 44px;
	line-height: 70px;
}

.single-service:hover .effect{
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	transform: rotateY(360deg);
	color: #969696;
	font-size: 50px;
}

.effect {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.service-content h3 {
	font-size: 19px;
	margin-top: 15px;
	margin-bottom: 0;
	font-weight: 700;
}

.section-title {
	display: block;
	width: 100%;
	margin-bottom: 60px;
	text-align: center;
}

#work-list {
	margin-bottom: 40px;
}

#work-list li .filter:hover::after, #work-list li .filter-active::after {
	width: 100%;
}

#work-list li .filter::after {
	content: '';
	position: absolute;
	bottom: -webkit-calc(50% - 1px );
	bottom: -moz-calc(50% - 1px );
	bottom: calc(50% - 1px );
	left: 0;
	width: 0;
	height: 1px;
	background-color: #484848;
	-webkit-transition: width .24s ease-out;
	-o-transition: width .24s ease-out;
	-moz-transition: width .24s ease-out;
	transition: width .24s ease-out;
}

#work-list li .filter {
	position: relative;
	margin: 4px 8px;
}

a, a:focus, a:hover, a:active {
	text-decoration: none;
	color: inherit;
	outline: none;
}

#work-list li {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}

.single-work{
	position: relative;
}

.overlay {
	position: absolute; 
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	transition: .5s ease;
	opacity:0;
	color: #fff;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.single-work:hover .overlay {
	opacity: 1;
}

.single-work:hover img {
	transform: scale(0.9);
}

#contact{
	width: auto;
	height: auto;
}

.circle-icon {
    background: #232323;
    padding: 25px;
    border-radius: 50%;
}

.pt-100{
	padding-top: 100px;
}

.outline-none{
	outline: 0;
}

.submit-btn {
	display: block;
	margin: 50px auto;
	padding: 8px 20px;
	font-size: 16px;
	font-weight: 700;
	border: 2px solid #333;
	outline: none;
	background-color: #333;
	color: #fafafa;
	cursor: pointer;
}

.submit-btn:hover{
	background-color: #fafafa;
	color: #333;
}

.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
	background-color: #f1f1f1;
}

.footer-title {
	display: inline-block;
	margin-bottom: 6px;
	font-size: 22px;
	font-weight: 700;
	color: #111;
}

.footer-social {
	padding: 10px 0;
}

.footer-social-list li a{
	font-size: 17px;
	color: #434343;
	margin: 0 10px;
}

.footer-social-list li a:hover{
	font-size: 17px;
	color: #969696;
	margin: 0 10px;
}

.footer .copy-text {
	margin: 8px 0;
	font-size: 15px;
	text-transform: capitalize;
}

